*{
    margin:0px; 
    padding:0px;
}
body{
    font-family: Arial,"微軟正黑體",BoldMT ,san-serif;
    width: 80%;
    margin-left: 10%;
    background-color: #e3e8ef;
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_back{
    background-color: #afc9d1;
    height: 50px;
}
.tit{
    position: relative;
    font-size: 46px;
    padding: 40px;
}
.pic1{
    display: inline-block;
    width: 30%;
    padding: 10px;
}
.contant{
    display: inline-block;
    width: 55%;
    padding: 10px;
    background-color: #fff;
    vertical-align:top;
    margin-top: 10px;
    opacity: 0.9;
}
.title{
    font-size: 28px;
    padding: 8px;
}
input{
    margin: 10px 0;
}
#text1{
    display: none;
}
#text2{
    display: none;
}
#text3{
    display: none;
}
#text4{
    display: none;
}
#text5{
    display: none;
}



.footer_back{
    background-color: #afc9d1;
    position: relative;
    height: 80px;
    width: 100%;
    margin-top: -80px;
}
.footer_text{
    position: absolute;
    text-align:center;
    font-size: 13px;
    height: 20px;
    width: 100%;
    color: #fff;
    margin-top: 50px;
}
.btn {
    position: absolute;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    text-align:center;
}
.fb{
    display: inline-block ; 
    padding: 5px;
}
.ig{
    display: inline-block ; 
    padding: 5px;
}
.mail{
    display: inline-block ;  
    padding: 5px;
}

.blank{
    height: 100px;
}

@media screen and (max-width:760px){
    body{
        width: 95%;
        margin-left: 2%;
    }
    .tit{
        position: relative;
        font-size: 46px;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .pic1{
        display: inline-block;
        width: 45%;
        padding: 0px;
    }
    .contant{
        display: inline-block;
        width: 50%;
        padding: 20px 0;
        vertical-align:top;
        margin-top: 0;
        opacity: 0.9;
    }
    .title{
        font-size: 28px;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        padding: 0;
    }
    input{
        margin: 10px 30px;
    }
    #text1{
        display: none;
        margin: 10px 30px;
    }
    #text2{
        display: none;
        margin: 10px 30px;
    }
    #text3{
        display: none;
        margin: 10px 30px;
    }
    #text4{
        display: none;
        margin: 10px 30px;
    }
    #text5{
        display: none;
        margin: 10px 30px;
    }
}

@media screen and (max-width:480px){
    body{
        width: 95%;
        margin-left: 2%;
    }
    .tit{
        position: relative;
        font-size: 46px;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .pic1{
        display: inline-block;
        width: 100%;
        padding: 0px;
    }
    .contant{
        display: inline-block;
        width: 100%;
        padding: 20px 0;
        vertical-align:top;
        margin-top: 0;
        opacity: 0.9;
    }
    .title{
        font-size: 28px;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        padding: 0;
    }
    input{
        margin: 10px 30px;
    }
    #text1{
        display: none;
        margin: 10px 30px;
    }
    #text2{
        display: none;
        margin: 10px 30px;
    }
    #text3{
        display: none;
        margin: 10px 30px;
    }
    #text4{
        display: none;
        margin: 10px 30px;
    }
    #text5{
        display: none;
        margin: 10px 30px;
    }
}